<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PortalDAO.Properties.Settings.bd_Defensoria_TransparenciaConnectionString"
            connectionString="Data Source=s744;Initial Catalog=bd_Defensoria_Transparencia;User ID=sa;Password=vm2Q8z8x"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>